.table-filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .entries {
            display: flex;
            align-items: center;
        }

        .entries label {
            margin-right: 5px;
        }

        .entries select {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            margin-right: 5px;
        }

        .search-container {
            display: flex;
            align-items: center;
        }

        .search-container input[type=text] {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            margin-right: 5px;
        }

        .search-container button {
            padding: 5px 10px;
            background: #ddd;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .search-container button:hover {
            background: #ccc;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th, td {
            border: 2px solid #E4E4E4;
            padding: 8px;
            text-align: center;
            font-size: 14px;
        }

        th {
            background-color: #59C1BD;
            cursor: pointer;
            text-align: center;
            font-weight: 600;
        }
        label, span {
            font-size: 14px;
        }
        #show-entries {
            width: 5rem;
        }

        .details-button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            cursor: pointer;
            border-radius: 4px;
        }

        .eye-icon {
            vertical-align: middle;
            margin-right: 5px;
        }

        .sort-icon {
           /* Adjust the spacing as needed */
        font-size: 0.8rem;
        }
        .sort-icon.active {
            font-weight: bold;
        }
        

        /* Center text in the "Full Name" column */
        td:nth-child(1) {
            text-align: center;
        }



        .highlight {
            background-color: yellow;
        }
        .container-white {
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 5px;
            margin-top: 80px;
        }
        
        #member-table {
            border: 2px solid #E4E4E4;
            text-align: center;
        }
        
        #member-table td {
            border: 2px solid #E4E4E4;
            text-align: center;
        }
        
        #member-table th.sortable {
            cursor: pointer;
        }
        
        #no-results-message {
            background-color: white;
            text-align: center;
            font-weight: bold;
            color: #888;
        }
         .modal-dialog-right {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .details-button:hover{
    background: green;
  }

  .modal.show .modal-dialog-right {
    transform: translateX(0);
  }
  .pagination button {
            padding: 5px 10px;
            background: #ddd;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            margin-left: 5px;
        }

      .table-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.page-number {
    padding: 5px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.page-number.active {
    background: #7ddcd9;
    color: white;
}
.page-number:hover{
    background: #59C1BD;
}

#previous-button,
#next-button {
    padding: 5px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

#previous-button:hover,
#next-button:hover {
    background: #ccc;
}

#no-results {
    display: none;
    margin-top: 10px;
    color: red;
}
